<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Experimental Platform 后台管理</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div th:replace="common/headers::sidebar('question_info')"></div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>问题编辑</h3>
                    </div>
                </div>
            </div>

            <section class="section">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">问题<span th:text="${question.getQuestionId()}"></span>编辑</h4>
                            </div>

                            <div class="card-body">
                                <form th:action="@{/question/edit/post}" method="post"
                                      class="form">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="id">问题ID</label>
                                                <input type="text" id="id" class="form-control"
                                                       th:value="${question.getQuestionId()}" disabled>
                                                <input type="text" hidden th:value="${question.getQuestionId()}"
                                                       name="questionId">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="type">问题类型</label>
                                                <input type="text" id="type" class="form-control" placeholder="问题类型"
                                                       th:value="${question.getType()}" name="type">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="title">问题标题</label>
                                                <input type="text" id="title" class="form-control" placeholder="标题"
                                                       th:value="${question.getTitle()}" name="title">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="editor">问题内容</label>
                                                <textarea id="editor" name="subject"
                                                          th:utext="${question.getSubject()}">

                                                </textarea>


                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="answerA">答案A</label>
                                                <input type="text" id="answerA" class="form-control"
                                                       th:value="${question.getAnswera()}" name="answerA">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="answerB">答案B</label>
                                                <input type="text" id="answerB" class="form-control"
                                                       th:value="${question.getAnswerb()}" name="answerB">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="answerC">答案C</label>
                                            <input type="text" id="answerC" class="form-control"
                                                   th:value="${question.getAnswerc()}" name="answerC">
                                        </div>


                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="answerD">答案D</label>
                                                <input type="text" id="answerD" class="form-control"
                                                       th:value="${question.getAnswerd()}" name="answerD">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="rightAnswer">正确答案</label>
                                                <input type="text" id="rightAnswer" class="form-control"
                                                       th:value="${question.getRightAnswer()}" name="rightAnswer">
                                            </div>
                                        </div>


                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="rightAnswer">分数</label>
                                                <input type="text" id="score" class="form-control"
                                                       th:value="${question.getScore()}" name="score">
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">提交修改</button>
                                            <button type="reset" class="btn btn-light-secondary me-1 mb-1">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div th:replace="common/footer::footer"></div>

    </div>
</div>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/vendors/ckeditor/ckeditor.js"></script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
<style>
    .ck-editor__editable {
        min-height: 300px;
    }
</style>
<script src="/assets/js/main.js"></script>
</body>

</html>