<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Experimental Platform 后台管理</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">

    <style>
        .wrap {
            width: 150px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div th:replace="common/headers::sidebar('notice_info')"></div>
    </div>
</div>
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>公告管理</h3>
                </div>
            </div>
        </div>

        <section class="section">
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <!-- table hover -->
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th>公告ID</th>
                                        <th>标题</th>
                                        <th>内容</th>
                                        <th>发布用户ID</th>
                                        <th>创建时间</th>
                                        <th>修改时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="notice :${notices}">
                                        <td>
                                            <div class="text-bold-500 wrap" th:title="${notice.getNoticeId()}"
                                                 th:text="${notice.getNoticeId()}">公告ID
                                            </div>
                                        </td>
                                        <td>
                                            <div th:title="${notice.getTitle()}" th:text="${notice.getTitle()}">标题
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-bold-500 wrap" th:title="${notice.getContent()}"
                                                 th:text="${notice.getContent()}">内容
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-bold-500 wrap" th:title="${notice.getUserId()}"
                                                 th:text="${notice.getUserId()}">发布用户ID
                                            </div>
                                        </td>
                                        <td>
                                            <div class="wrap" th:title="${notice.getCreateTime()}"
                                                 th:text="${notice.getCreateTime()}">创建时间
                                            </div>
                                        </td>
                                        <td>
                                            <div th:text="${notice.getUpdateTime()}" th:title="${notice.getUpdateTime()}">
                                                修改时间
                                            </div>
                                        </td>
                                        <td>
                                            <div><a th:href="@{/notice}">查看</a></div>
                                            <div><a th:href="@{/notice/}">编辑</a></div>
                                            <div><a th:href="@{/notice/}">删除</a></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hoverable rows end -->

    </div>

    <div th:replace="common/footer::footer"></div>

</div>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/main.js"></script>
</body>

</html>