<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Experimental Platform 后台管理</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div th:replace="common/headers::sidebar('notice_add')"></div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>添加公告 </h3>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <form action="/notice/add" method="post">
                                <div class="card-body">
                                    <div><h5>公告标题</h5></div>
                                    <label>
                                        <input class="form-control" type="text" name="title"/>
                                    </label>
                                </div>
                                <div class="card-body">
                                    <div><h5>公告内容</h5></div>
                                    <label for="editor">

                                    </label>
                                    <textarea id="editor" name="editor">
                                    <p>在此处添加公告.</p>
                                </textarea>
                                </div>
                                <div class="card-body" style="width: 150px">
                                    <button class="btn btn-primary mt-sm-3">发布公告</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div th:replace="common/footer::footer"></div>

    </div>
</div>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/vendors/ckeditor/ckeditor.js"></script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
<style>
    .ck-editor__editable {
        min-height: 300px;
    }
</style>

<script src="/assets/js/main.js"></script>
</body>

</html>