<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/headers.css}">

    <style>
        div > p {
            text-indent: 2em;
        }

    </style>

</head>
<body>

<div th:replace="common/headers::header1('说明')"></div>
<div class="container-fluid">

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">系统使用说明</h2>
            <div class="card-text">
                <p>SQL在线实验平台是对大规模的实时数据进行分析查询的系统，通过直接拉取实时仓库的数据进行预聚合，有效地提高了查询的性能，降低存储的成本。
                    使用数据立方分析实时数据的步骤如下：</p>
                <p>
                    <small>前提：通过 logkit Pro 发送数据到实时仓库，请参考 Nginx 日志采集。</small>
                </p>
                <ul>
                    <li>步骤1:创建数据立方实例</li>
                    <li>步骤2:分析数据立方实例的数据</li>
                </ul>
                <p>
                    数据立方适用于大规模数据实时分析类场景，如：广告点击、运维监控、安全事件分析、处理大量实时数据，如每天数亿事件的新增、每天数 10T 数据的增加；
                    这些场景的特点都是拥有大规模的数据，且对数据查询的时延要求非常高。如在运维监控中，系统问题需要在出现的一刻被检测到并被及时给出报警。
                <ul>
                    <li>跟智能日志平台原有生态结合，快速导入实时仓库数据、查询分析、生成分析报表、用仪表盘监控数据等。</li>
                    <li>高性能，亚秒级 OLAP 查询，包括多维过滤、分组、指标聚合等。</li>
                    <li>存储成本低，对数据进行预聚合，使用列式存储，并且高比例数据压缩，极大降低存储成本。</li>
                    <li>存储时限长，支持数据存储两年，解决了一些系统需要统计半年以上、跨月查询监控数据的问题；</li>
                    <li>可靠性：可以被用来实现需要持续提供服务的 SaaS 应用。即使是在系统升级的过程中，你的数据仍然可以被查询。而且数据立方集群的扩容或者缩减不会带来数据的丢失。</li>
                    <li>可扩展性：轻松处理每天百亿条数据和 10TB+ 级别的数据。</li>
                </ul>

                </p>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>